<div class="cover align-middle top-center">
  <div class="top-inner">
    <p class="sub-title"> <span class="sub-title-main">今日のおいしいを、みんなでつなぐ</span> </p>
    <h1 class="title mb-2">Ballpark-Hit-Gourmet</h1>
    <div class="top-btns">
      <%= link_to new_user_registration_path, class: "btn btn-primary top-btn" do %>新規登録<% end %>
      <%= link_to new_user_session_path, class: "btn btn-success top-btn" do %>ログイン<% end %>
    </div>
  </div>
</div>